@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

body {
  margin: 0;
  font-family: Montserrat;
  background-color: #131722;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #151926 !important;
}

.login {
  background-color: #131722;
  color: #fff;
}

.errorPlace{
  background-color: #131722;
}